MYSQL_HOST=db
MYSQL_ROOT_PASSWORD=magento
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento

BASE_URL=magento2.local

ADMIN_URL=admin
ADMIN_USER=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password123

LANGUAGE=sv_SE
CURRENCY=sek
TIMEZONE=Europe/Stockholm

PUBLIC_KEY=
PRIVATE_KEY=
